#title
{

text-align: center;

}

nav
{

align-content: center;
text-align: center;

}

body
{

background-color: #465f8a;


}

footer
{

text-align: center;
background-color: grey;

}

#abtdev
{

text-align: center;

}